{%extends 'mainnotes/base.html'%}

{% block content%}
  <a href="/hiddennotes" class="custombutton btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-plus"></span> Back to all hidden notes
  </a>

    <button type="submit" form="addnote" class="custombutton btn btn-success btn-lg m-2 p-2">Save</button>


  
  <main class="d-flex align-items-center min-vh-60 py-3 py-md-0">

    

      <div class="container m-5 p-3">
        <form action="\addhiddennote" method="POST" id="addhiddennote" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control m-1" id="title" placeholder="Title" name="title">
          <textarea id="description" class="form-control m-1" rows="20" cols="100" placeholder="Your Valuable Notes..." name="description"></textarea>
          <div class="custom-file">
            <input type="file" id="images" name="images" accept="image/*" class="custom-file-input" multiple>
            <label class="custom-file-label" for="customFile">Add images to your note</label>
          </div>
            <div class="gallery"></div>

          <div id="customfooterbuttons">
            <button type="submit" form="addhiddennote" class="custombutton btn btn-success btn-lg m-2 p-2">Save</button>

          </div>

          </div>
        </form>
      </div>

  </main>
  
  {% endblock content%}
