{% extends "mainnotes/base.html" %}
  {% block content %}

  <!-- Notes -->
  {% if note.hidden_note %}
  <a href="/hiddennotes" class="custombutton btn btn-primary btn-lg mr-5 mb-5">
    <span class="glyphicon glyphicon-plus"></span> Back to hidden notes
  </a> <br>
  {% else %}
  <a href="/" class="custombutton btn btn-info btn-lg mr-5 mb-5">
    <span class="glyphicon glyphicon-plus"></span> Back to all notes
  </a> <br>
  {% endif %}




  {% if note.trashed_note %}
  <a href="/hidenote/{{note.pk}}/" class="custombutton btn btn-danger btn-lg">
    <span class="material-icons">delete</span> Delete this permanently
  </a>
  {% else %}
  <a href="/trashnote/{{note.pk}}/" class="custombutton btn btn-danger btn-lg">
    <span class="material-icons">delete_outline</span> Trash this note
  </a>
  {% endif %}



  {% if note.hidden_note %}
  <a href="/hidenote/{{note.pk}}/" class="custombutton btn btn-primary active btn-lg">
    <span class="material-icons">hide_source</span> UnHide this note
  </a>
  {% else %}
  <a href="/hidenote/{{note.pk}}/" class="custombutton btn btn-primary btn-lg">
    <span class="material-icons">hide_source</span> Hide this note
  </a>
  {% endif %}

  {% if note.trashed_note %}
  <a href="/trashnote/{{note.pk}}/" class="custombutton btn btn-success btn-lg">
    <span class="material-icons">done</span> Restore this note
  </a>
  {% else %}
  <button type="submit" form="editnote"  class="btn btn-success btn-lg custombutton"><span class="material-icons">
    done_outline
    </span>
    Save
  </button>

  <a href="/export_to_docx/{{note.pk}}/" class="custombutton btn btn-primary btn-lg">
    <span class="material-icons">done</span> Export to docx
  </a>
  {% endif %}
  

  <div id="ErrorMessage">
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
 </div>

  <main class="d-flex align-items-center min-vh-60 py-3 py-md-0">

      <div class="container m-5 p-3">
        <form action="/editnote/{{note.pk}}/" id="editnote" method="POST">
          {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control m-1" id="title" name="title" placeholder="Title" value="{{note.title}}">
          <textarea id="description" class="form-control m-1" name="description" rows="20" cols="100" placeholder="Your Valuable Notes...">{{note.description}}</textarea>
            <div class="custom-file">
              <input type="file" id="images" name="images" accept="image/*" class="custom-file-input" multiple>
              <label class="custom-file-label" for="customFile">Add images to your note</label>
            </div>
              <div class="gallery"></div>
              {% for image in images %}
              <img src="{{image.image.url}}">
              {% endfor %}
          </div>
        </form>
        <button type="submit" form="editnote"  class="btn btn-success btn-lg\">
          Save
        </button>
      </div>






  </main>

  {% endblock content%}
