{% extends "mainnotes/base.html" %}



  <!-- Notes -->
  {% block content %}
  <a href="addnote" class="custombutton btn btn-info btn-lg">
    <span class="glyphicon glyphicon-plus"></span> Create Note
  </a>

  <div id="ErrorMessage">
    {% for message in messages %}
    <h1>{{message}}</h1>
    {% endfor %}
</div>

  <main class="custom align-items-center min-vh-60 py-3 py-md-0">

      {% for note in all_notes %}
      <a href="editnote/{{note.pk}}">
      <div class="card login-card m-5 p-3 col-lg-4">
        <div class="container">
              <h4 class="card-title">{{note.title}}</h4>
              <p class="card-text">{{note.excerpt}}</p><br>
              <small class="card-text"><b>Created on:</b> {{note.created_date}}</small><br>
              <small class="card-text"><b>Recently modified on:</b> {{note.recently_modified_date}}</small>
        </div>
      </div>
      </a>
      {%endfor%}


  </main>

  {% endblock content %}