{% extends "mainnotes/base.html" %}

{% block content %}

<main class="align-items-center">
    
    <div id="ErrorMessage">
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
     </div>

    <div class="container m-auto">
        <p class="login-card-description custompara">Search a friend using their E-mail ID</p>
        <form action="\addfriend" method="GET" id="hiddenpasscodelogin">
          <div class="form-group">
            <div class="form-group mb-4">
                <label for="search" class="sr-only">Search</label>
                <input type="text" name="search" id="search" class="form-control" placeholder="Search...">
              </div>
              <button type="submit" form="hiddenpasscodelogin" value="Submit" class="btn btn-primary btn-block login-btn mb-4">Search</button>
          </div>
        </form>
    </div>

    <div class="customfriendslist">
        <ul class="list-group">
            {%for user in all_users_searched%}
            {% if user != request.user %}
            <li class="list-group-item">{{user.first_name}} {{user.last_name}} | 
                <span class="badge">{{user.email}}</span> | 

                {% if user not in request.user.friends.all %}
                <form action="/addfriend" id="addfriend" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="addfriend" name="friend" value="{{user.pk}}">
                    <input type="submit" class="btn btn-primary btn-sm" value="Add Friend">
                </form>

                {% else %}
                <form action="/removefriend" id="addfriend" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="addfriend" name="friend" value="{{user.pk}}">
                    <input type="submit" class="btn btn-danger btn-sm" value="Remove Friend">
                </form>
                {% endif %}
                
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

</main>



{% endblock content %}